{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@effector/babel-plugin",
    "@babel/plugin-proposal-optional-chaining",
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-typescript"
      ],
      "plugins": [
        "@effector/babel-plugin",
        "@babel/plugin-transform-modules-commonjs",
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ],
      ]
    },
    "development": {
      "presets": [
        "@babel/preset-typescript"
      ]
    }
  }
}